################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.bak
*.wav
*.log
*.backup
*.lastsaved
